<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ensa.locature.main">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"
        />

    <application
        android:name="com.ensa.locature.main.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DemoAppTheme"
        >

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity android:name="com.ensa.locature.main.MainActivity">
           <!-- Original Main Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.ensa.locature.main.LoginActivity" />
        <activity android:name="com.ensa.locature.main.RegisterActivity" />
        <activity
            android:name="com.ensa.locature.main.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity android:name="com.ensa.locature.main.AdminAddNewProductActivity" />
        <activity android:name="com.ensa.locature.main.AdminCategorieActivity"/>

        <!-- Card Slider activities -->
        <activity
            android:name="com.ensa.locature.main.MapActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.ensa.locature.main.DetailsActivity"
            android:screenOrientation="portrait"/>

        <!-- List Activity AIzaSyCc7F02gaw3o4AnRHFy5Wln7j0MIgW9o4w -->

        <activity android:name="com.ensa.locature.main.ListActivity">

        </activity>

        <activity android:name="com.ensa.locature.main.PayActivity">

        </activity>
        <activity android:name=".SettingsActivity" android:label="@string/options" />
        <activity android:name=".CreateTransactionActivity" />

        <activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="${applicationId}.braintree" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDUTlueAlaQ9PGNGtDJqhSKzQ6Vay5tLLE"/>

    </application>

</manifest>